<?xml version="1.0"?>
<launch>

  <rosparam command="load" file="$(find ice9_unitree)/params/ekf_localization.yaml" />
  
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true"/>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" clear_params="true" output="screen">
      <rosparam command="load" file="$(find ice9_unitree)/params/navsat_transform.yaml" />
      <remap from="odometry/filtered" to="odometry/filered_map" />
      <remap from="gps/fix" to="reach/fix" />
      <remap from="imu/data" to="mavros/imu/data"/>
  </node>

</launch>