<launch>
    <arg name="map" default="false"/>

    <!-- Nav sat transform -->
    <include file="$(find ice9_unitree)/launch/include/navsat_transform.launch" />

    <!-- RTK GPS odom matcher -->
    <include file="$(find ice9_unitree)/launch/include/matcher.launch" />

    <!-- Waypoints follower -->
    <include file="$(find ice9_unitree)/launch/include/follow_waypoints.launch" />

    <!-- Map server -->
    <group if="$(arg map)">
        <node name="map_server" pkg="map_server" type="map_server" args="$(env HOME)/ice9_maps/map.yaml"/>
    </group>
</launch>