<launch>
    <!-- Unitree -->
    <include file="$(find unitree_legged_real)/launch/real.launch" />

    <!-- SLAM -->
    <include file="$(find slam_planner)/launch/slam_planner_online.launch" />

    <!-- EMLID Reach -->
    <include file="$(find ice9_unitree)/launch/include/reach_ros.launch" />

    <!-- Nav sat transform -->
    <include file="$(find ice9_unitree)/launch/include/navsat_transform.launch" />

    <!-- RTK GPS odom matcher -->
    <include file="$(find ice9_unitree)/launch/include/matcher.launch" />
</launch>
